.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button {
  margin-left: 8px;
}

.demo-table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-hint{
  font-weight: 500;
}

/* .example-full-width {
  width: 100%;
} */
